.medoc
{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

body
{
    background-color: #36393F;
}


fieldset
{
  background-color: #66A3D3;
  max-width:500px;
  padding:16px;	
  font-family: Helvetica, sans-serif;
  color: whitesmoke; 
  border-radius: 20px;
  font-weight: bold;
}

#table1
{
    width: 60%;
    font-family: Helvetica, sans-serif;
    text-align: center;
    table-layout: fixed;
    color: whitesmoke; 
    font-weight: bold;
    
}

#tr2
{
    border: thin solid black;
    width: 0%;
    text-align: center;
    
}

#tr1
{
    border: thin solid black;
    width: 0%;
    text-align: center;
    
}

#titres
{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: whitesmoke;
}

table {
    border-spacing: 1rem;
   
  }

td, th{
    border-radius: 20px;
    background-color: #66A3D3;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

th{
    background-color: #123E6A;
}

input{
    border-radius: 20px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0,5rem;
}